# Build directories
/build/
CMakeFiles/
CMakeCache.txt
*.cmake
*.o
*.obj
*.exe

# Compiled source code
*.out
*.a
*.so
*.dll

# IDE and editor files
.vscode/
.idea/
*.suo
*.user
*.ncb
*.sdf
*.vcxproj.user

# OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# Other files
*.log
*.tmp
*.swp
*.bak
*.pid
